:root {
    --nutmeg: #854632;
    --dark-raspberry: #7A284E;

    --white: #FFFFFF;
    --rose-white: #FFF7FB;
    --eggshell: #F3E5D7;
    --white-coffee: #E3DDD7;
    --wenge-brown: #5F564D;
    --dark-charcoal: #312E2C;
}

/*
 * Global Classes
 */

/* middle lines style */
.mid-line {
    border: none;
    border-bottom: 1px solid var(--white-coffee);
}

/* subtitles */
.subtitle {
    margin-bottom: 24px;

    /* Heading M */
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    color: var(--nutmeg);
}

/* global list items */

.li {
    padding-left: 8px;
    list-style: none;
}

.li li {
    padding-left: 32px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--wenge-brown);

    position: relative;
}

.li li:not(:first-child) {
    margin-top: 8px;
}

.li li span {
    font-weight: 700;
}

.li li::before {
    content: '';
    position: absolute;
    left: 0;
}

.li.ul-type li::before {
    top: 50%;

    width: 4px;
    height: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
}

.li.ol-type li::before {
    top: 0;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: var(--nutmeg);
}

.li.ol-type li:nth-child(1)::before {
    content: '1.';
}

.li.ol-type li:nth-child(2)::before {
    content: '2.';
}

.li.ol-type li:nth-child(3)::before {
    content: '3.';
}

.li.ol-type li:nth-child(4)::before {
    content: '4.';
}

.li.ol-type li:nth-child(5)::before {
    content: '5.';
}

.li.ol-type li:nth-child(6)::before {
    content: '6.';
}

.li.ol-type li:nth-child(7)::before {
    content: '7.';
}

.li.ol-type li:nth-child(8)::before {
    content: '8.';
}

/* 
 * non global selectors
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* reciepe card */

.recipe-card {
    margin: 124px 0;
    max-width: 736px;
    padding: 40px;
    border-radius: 24px;

    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header-img-container {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
}

.header-img-container img {
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* reciepe title and caption */

.recipe-title {
    margin-bottom: 24px;

    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;

    color: var(--dark-charcoal);
}

.recipe-caption {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--wenge-brown);
}

/* preparation part */

.preparation {
    padding: 28px;
    border-radius: 12px;
    background-color: var(--rose-white);
}

.preparation-title {
    margin-bottom: 16px;

    /* Heading S */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

    color: var(--dark-raspberry);
}

.preparation ul li::before {
    background-color: var(--dark-raspberry);
}

/* ingredients part */

.ingredients ul li::before {
    background-color: var(--nutmeg);
}

/* nutrition part */

.nutrition .table-title {
    margin-bottom: 24px;

    /* Body (Regular) */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--wenge-brown);
}

.nutrition table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.nutrition table tr * {
    width: 50%;
    font-family: 'Outfit';
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
}

.nutrition table tr th {
    padding-left: 32px;
    /* Body (Regular) */
    color: var(--wenge-brown);
    font-weight: 400;
}

.nutrition table tr td {
    padding-left: 16px;
    /* Body (Bold) */
    font-weight: 700;
    color: var(--nutmeg);
}

.nutrition table tr:not(:first-child) th,
.nutrition table tr:not(:first-child) td {
    padding-top: 12px;
}

.nutrition table tr:not(:last-child) th,
.nutrition table tr:not(:last-child) td {
    padding-bottom: 12px;
}

.nutrition table tr:not(:last-child) {
    border-bottom: 1px solid var(--white-coffee);
}

@media only screen and (max-width: 375px) {
    .recipe-card {
        margin: 0;
        padding: 0;
        border-radius: 0;
        gap: 0;
    }
    .header-img-container {
        border-radius: 0;
    }
    .text-content {
        padding: 40px 32px;
    }
    .recipe-title {
        font-size: 36px;
    }
    .preparation {
        padding: 24px;
    }
    
}