:root {
    --nutmeg: #854632;
    --dark-raspberry: #7A284E;

    --white: #FFFFFF;
    --rose-white: #FFF7FB;
    --eggshell: #F3E5D7;
    --white-coffee: #E3DDD7;
    --wenge-brown: #5F564D;
    --dark-charcoal: #312E2C;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--eggshell);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-card {
    margin: 124px 0;
    width: 736px;
    padding: 40px;
    border-radius: 24px;

    background-color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header-img {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
}

.header-img img {
    width: 100%;
}

.text-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.recipe-title {
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;

    color: var(--dark-charcoal);
}

.recipe-caption {
    margin-top: 24px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* Wenge Brown */
    color: #5F564D;
}

.preparation-container {
    padding: 28px;
    border-radius: 12px;
    background-color: var(--rose-white);
}

.preparation-title {
    /* Heading S */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

    color: var(--dark-raspberry);
}

.preparation-ul {
    margin-top: 24px;
    padding-left: 8px;
    list-style: none;
}

.preparation-ul li {
    padding-left: 32px;

    /* Body (Regular) */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #5F564D;

    position: relative;
}

.preparation-ul li span {
    font-weight: 700;
}

.preparation-ul li:not(:first-child) {
    margin-top: 8px;
}

.preparation-ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--dark-raspberry);
    border-radius: 50%;
}

.subtitle {
    /* Heading M */
    font-family: 'Young Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    color: var(--nutmeg);
}

.ingredients ul {
    margin-top: 24px;
    padding-left: 8px;
    list-style: none;
}

.ingredients ul li {
    padding-left: 32px;
    /* Body (Regular) */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    /* Wenge Brown */
    color: var(--wenge-brown);

    position: relative;
}

.ingredients li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    background-color: var(--nutmeg);
    border-radius: 50%;
}

.ingredients li:not(:first-child) {
    margin-top: 8px;
}

.mid-line {
    /* White Coffee */
    border: 1px solid var(--white-coffee);
}

.instructions ul {
    margin-top: 24px;
    padding-left: 8px;
    list-style: none;
}

.instructions ul li {
    padding-left: 32px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--wenge-brown);

    position: relative;
}

.instructions li:not(:first-child) {
    margin-top: 8px;
}

.instructions ul li span {
    font-weight: 700;
}

.instructions ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    /* Body (Bold) */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: var(--nutmeg);
}

.instructions ul .item-1::before {
    content: '1.';
}

.instructions ul .item-2::before {
    content: '2.';
}

.instructions ul .item-3::before {
    content: '3.';
}

.instructions ul .item-4::before {
    content: '4.';
}

.instructions ul .item-5::before {
    content: '5.';
}

.instructions ul .item-6::before {
    content: '6.';
}

.nutrition p {
    padding: 24px 0;

    /* Body (Regular) */
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--wenge-brown);
}

.nutrition table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.nutrition table tr * {
    width: 50%;
    font-family: 'Outfit';
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
}

.nutrition table tr:not(:first-child) th,
.nutrition table tr:not(:first-child) td {
    padding-top: 12px;
}

.nutrition table tr:not(:last-child) th,
.nutrition table tr:not(:last-child) td {
    padding-bottom: 12px;
}

.nutrition table tr:not(:last-child) {
    border-bottom: 1px solid var(--white-coffee);
}

.nutrition table tr th {
    padding-left: 32px;
    /* Body (Regular) */
    color: var(--wenge-brown);
    font-weight: 400;
}

.nutrition table tr td {
    padding-left: 16px;
    /* Body (Bold) */
    font-weight: 700;
    color: var(--nutmeg);
}
